.fileUploadLabel {
  padding-bottom: 10px;
}

.fileUploadContainer {
  border: 2px dashed var(--black);
}

.fileUploadContent {
  padding: 40px;
  cursor: pointer;
}

.imageIcon {
  display: block;
  margin: 5px auto;
  font-size: 130px;
  color: var(--icon-color);
}

.fileUploadButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fileUploadP {
  padding-right: 5px;
}

.fileUpload {
  width: 200px;
}
