.register-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  margin: auto;
  background: #3f96b5;
  color: white;
  padding: 20px;
  margin-top: 40px;
}
