:root {
  --app-color-background: #ecfcf8;
  --recipe-card-background: #c7fff1;
  --input-color-background-active: #cdeee6;
  --black: #2c3631;
  --flat-black: #2c3631;
  --white: #fff;
  --active: #70caf7;
  --hover-background: #6ffad7;
  --error: #fa6d6d;
  --errorInputBackground: #f6cece;
  --icon-color: #797979;
  --icon-color-favorite: #f97d7d;
}

* {
  font-family: "Be Vietnam Pro", Helvetica, Arial, sans-serif;
}

html {
  background: var(--app-color-background);
}

body {
  margin: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.subheading {
  font-style: italic;
  margin: 10px auto;
}

.page-title {
  text-align: center;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
}

.textarea-container,
.input-container,
.select-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.input-label,
.textarea-label,
.select-label {
  text-transform: capitalize;
  color: var(--black);
}

.input,
.textarea,
.select {
  padding: 9px;
  background: transparent;
  font-size: 16px;
}

.input:focus,
.textarea:focus,
.select:focus {
  background: var(--input-color-background-active);
  outline: none;
}
