:root {
  --app-color-background: #ecfcf8;
  --input-color-background-active: #cdeee6;
  --black: #000000;
  --flat-black: #2c3631;
  --white: #fff;
  --active: #70caf7;
  --hover-background: #6ffad7;
  --error: #fa6d6d;
  --errorInputBackground: #f6cece;
}

* {
  font-family: "Be Vietnam Pro", Helvetica, Arial, sans-serif;
}

html {
  background: var(--app-color-background);
}

body {
  margin: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.subheading {
  font-style: italic;
}

.page-title {
  text-align: center;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
}

.textarea {
  border: solid black 1px;
  font-size: 16px;
  padding: 5px;
}
