.profileCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 60px auto;
  max-width: var(--max-width);
  padding: 20px;
}

.profileContentContainer {
  width: 100%;
  max-width: 1100px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.userInitalContainer {
  display: inline-flex;
  background: var(--black);
  color: var(--white);
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  text-transform: uppercase;
  border-radius: 50%;
}

.userInital {
  font-size: 25px;
}

.userNameEmail {
  margin: 0px;
}

.userName {
  text-transform: capitalize;
}

.profileRecipesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.recipeList {
  background: var(--app-color-background-darker);
  min-height: 50vh;
  padding: 0 20px;
}

.userRecipe {
  position: relative;
}

.deleteRecipeButton {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--black);
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.recipeLink {
  background: var(--recipe-card-background);
  display: flex;
  margin: 20px auto;
  text-transform: capitalize;
}

.recipeImage {
  height: 150px;
  width: 200px;
  background-size: cover;
  background-position: center;
}

.recipeDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  width: 65%;
}

.recipeTitle {
  font-size: 20px;
  margin: 2px;
}

.recipeDescription {
  margin: 2px;
}

@media (min-width: 500px) {
  .userDetails {
    flex-direction: row;
  }

  .userNameEmail {
    margin: 0 20px;
  }

  .recipeTitle {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .profileRecipesContainer {
    flex-direction: row;
  }

  .recipeList {
    width: 50%;
  }

  .userRecipe:hover {
    .deleteRecipeButton {
      display: block;
    }
  }

  .deleteRecipeButton:hover {
    background-color: var(--hover-background);
    border: solid var(--black) 1px;
    color: var(--black);
  }
}
