.galleryItem {
  background: white;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 275px;
  overflow: hidden;
}

.recipeLink {
  margin: 20px;
}

.imgContainer {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  transition: 0.2s;
}

.recipeName {
  margin: 0 auto;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 500;
}

.recipeDetails {
  backdrop-filter: blur(5px);
  background: rgba(230, 230, 230, 0.5);
  padding: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.recipeIconTextContainer {
  display: flex;
  justify-content: start;
  gap: 10px;
  text-transform: capitalize;
}

.userIconNameContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.difficulty {
  margin: 0;
}

@media (min-width: 768px) {
  .galleryItem {
    &:hover {
      .imgContainer {
        transform: scale(1.15);
      }
    }
  }
}
