.select {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  color: var(--black);
}

.error {
  .select {
    background: var(--errorInputBackground);
  }

  .errorMsg {
    color: var(--error);
  }
}
