.input {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
}

.error {
  .input {
    background: var(--errorInputBackground);
  }

  .errorMsg {
    color: var(--error);
  }
}
