.recipeContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 60px auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: italic;
  gap: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  padding: 0 20px;
}

.currentRecipe {
  text-transform: capitalize;
  margin-left: 4px;

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background: black;
    display: block;
  }
}

.imageContainer {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipeDetails {
  padding: 0 20px;
}

.recipeTitleBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoriteEditBtnsContainer {
  display: flex;
  align-items: center;
}

.favoriteBtn {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.favoriteBtnIcon {
  font-size: 25px;
  color: var(--icon-color);

  &.active {
    color: var(--icon-color-favorite);
  }
}

.favoriteText {
  min-width: 95px;
}

.favoriteTextFade {
  opacity: 1;
  animation: fade 1s linear;
}

.editBtn {
  margin-left: 20px;
}

.editRecipeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipeStats {
  display: flex;
  justify-content: space-between;
}

.userIconNameContainer {
  display: flex;
  align-items: center;
  height: min-content;
}

.userIcon {
  margin-right: 7px;
}

.userName {
  text-transform: capitalize;
}

.subheading {
  font-style: italic;
  margin: 10px auto;
  text-align: center;
}

.recipeTags {
  margin: 50px auto;
  font-style: italic;
  text-align: center;
}

.recipeTagsLabel {
  margin-right: 7px;
}

.updateRecipeBtn {
  margin-top: 10px;
  justify-content: flex-end;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (min-width: 825px) {
  .recipeArticle {
    box-shadow: 10px 10px 25px #839591;
    background: var(--recipe-card-background);

    .breadcrumbs {
      padding: 0;
    }

    .recipeDetails {
      padding: 0 20px;
    }
  }
}
