.recipeContainer {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 60px auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: italic;
  gap: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  padding: 0 20px;
}

.currentRecipe {
  text-transform: capitalize;
  margin-left: 4px;

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--black);
    display: block;
  }
}

.recipeTitleAuthorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipeTitle {
  text-align: center;
  margin-bottom: 0;
}

.imageContainer {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.recipeHero {
  padding: 0 20px;
}

.recipeDetails {
  padding: 0 20px;
}

.recipeTitleBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoriteEditBtnsContainer {
  display: flex;
  align-items: center;
}

.favoriteBtn {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  text-transform: capitalize;
  width: max-content;
  margin: auto;
}

.favoriteBtnIcon {
  font-size: 25px;
  color: var(--icon-color);

  &.active {
    color: var(--icon-color-favorite);
  }
}

.favoriteText {
  padding-left: 7px;
}

.favoriteTextFade {
  opacity: 1;
  animation: fade 1s linear;
}

.editBtn {
  display: flex;
}

.editRecipeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipeStats {
  display: flex;
  justify-content: space-between;
}

.userIconNameContainer {
  display: flex;
  justify-content: center;
}

.userIcon {
  margin-right: 7px;
}

.userName {
  text-transform: capitalize;
  margin-top: 0;
}

.subheading {
  font-style: italic;
  margin: 10px auto;
  text-align: center;
}

.recipeTags {
  margin: 50px auto;
  font-style: italic;
  text-align: center;
}

.recipeTagsLabel {
  margin-right: 7px;
}

.updateRecipeBtn {
  margin: 10px 0;
  justify-content: flex-end;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (min-width: 825px) {
  .recipeHero {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .recipeTitleAuthorContainer {
    justify-content: center;
  }

  .recipeTitle {
    text-align: left;
    margin: 10px 0 0 0;
  }

  .subheading {
    text-align: left;
    margin: 0;
  }

  .userIconNameContainer {
    justify-content: flex-start;
    margin-top: 20px;
  }

  .favoriteBtn {
    margin: 0;
  }

  .imageContainer {
    width: 60%;
  }

  .recipeDetails {
    padding: 0 20px;
  }
}

/* @media screen and (min-width: 1400px) {
  .imageContainer {
    width: 50%;
  }
} */
